<app-navbar-inicio></app-navbar-inicio>


<app-carrusel-inicio></app-carrusel-inicio>

<app-menu-inicio></app-menu-inicio>

<div class="container mt-3 cont-1">
    <div class="col-5">
        <img id="imagen" class="mr-6" src="../../../assets/inicio4.jpg" alt="">
    </div>
    <p>Ubicado en el corazón de la Sierra de Puebla, Xicotepec es ausente e indiferente al resto del mundo, ven y disfruta de toda esa tranquilidad que este maravilloso pueblo te ofrece. 
        El clima aquí es cálido y la gente está acostumbrada al aroma del café. Porque si algo abunda en el pueblo son cafetales y montañas que llenan tus ojos de verde. Además, aquí no sólo se cree en santos religiosos traídos por los españoles, sino también en dioses y magos prehispánicos.</p>
</div>

<div class="container mt-3">
    <p>Xicotepec no es solo un lugar para salir de la rutina, sino que también es un encuentro con la historia, el misticismo, la gastronomía y la majestuosidad de sus bellezas naturales, en perfecta combinación con la alegría de la Huasteca Poblana. Te invitamos a descubrir un poco de este gran lugar mediente las secciones que hemos preparado para ti.
        <br>
    <strong>¡Ven y enamórate de Xicotepec!</strong></p>
</div>