<div class="container-fluid row row-cols-1 row-cols-md-3 g-0">
    <div>
        <div class="imagen">
            <img src="../../../assets/logoFooter.png" alt="">
        </div>
    </div>
    <div>
        <a href="https://www.facebook.com/Xicotepec" target="_blank" class="links">
            <fa-icon  [icon]="Facebook"></fa-icon>
            <p>FACEBOOK</p>
        </a>
        <a href="https://www.instagram.com/xicotepecpueblomagico/" target="_blank" class="links">
            <fa-icon [icon]="Instagram"></fa-icon>
            <p>INSTAGRAM</p>
        </a>
        <a href="infoturismoxicotepec@gmail.com" target="_blank" class="links">
            <fa-icon [icon]="Gmail"></fa-icon>
            <p>infoturismoxicotepec@gmail.com</p>            
        </a>
    </div>

</div>