<div class="container-fluid mt-3 sticky-top" id="menu">
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/historia">
        <fa-icon class="icono" [icon]="historia" ></fa-icon>
        <p>HISTORIA</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/gastronomia">
        <fa-icon class="icono" [icon]="gastronomia" ></fa-icon>
        <p>GASTRONOMIA</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/agricultura">
        <fa-icon class="icono" [icon]="agricultura" ></fa-icon>
        <p>AGRICULTURA</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/ganaderia">
        <fa-icon class="icono" [icon]="ganaderia" ></fa-icon>
        <p>GANADERIA</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/restaurantes">
        <fa-icon class="icono" [icon]="restaurantes" ></fa-icon>
        <p>RESTAURANTES</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/festividades">
        <fa-icon class="icono" [icon]="festividades" ></fa-icon>
        <p>FESTIVIDADES</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/lugares-turisticos">
        <fa-icon class="icono" [icon]="visitar" ></fa-icon>
        <p>QUE VISITAR</p>
    </div>
    <div class="opcion text-center animate__animated animate__backInUp" routerLink="/acerca-de">
        <fa-icon class="icono" [icon]="nosotros" ></fa-icon>
        <p>SOBRE NOSOTROS</p>
    </div>
</div>