h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 0.9rem ;
}

span{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.7rem ;
}
.contenedor {
    position: relative;
}

.leyenda {
    width: 70%;
    position: absolute;
    top: 50%; 
    left: 10px;
    transform: translate(0, -50%); 
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(110, 110, 110, 0.565);
}

.img-ganaderia{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.img-ganaderia-1{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.cont-img{
    overflow: hidden;
    position: relative;
    display: inline-block;
}