
<div class="container mt-4 mb-4">
    <div class="container-fluid text-center">    
        <img class="img-fluid text-center" src="../../../assets/agricultura1.jpeg">
    </div>

    <h2 class="text-center mt-4 animate__animated animate__flipInX">Agricultura</h2>

    <p class="mt-4">Xicotepec destaca por ser un pueblo cafetalero desde su fundación, es por ello que este pueblo es uno de los principales productores a nivel estatal y es mayormente conocido por su primoroso Cafe de Altura, considerado uno de los mejores en México.
        Cuendo hablamos de Xicotepec es imposible no pensar en el dulce aroma del café inundando tus fosas nasales. Esto es posible a su clima ideal para el cultivo de café, Xicotepec siempre ofrece un café delicioso y de alta calidad.
        Además del café </p>

        <div class="container-fluid mt-4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/agricultura2.jpeg" class="img-fluid m-4 mb-1" alt="...">

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/agricultura3.jpeg" class="img-fluid m-4 mb-1" alt="...">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/agricultura4.jpeg" class="img-fluid m-4 mb-1" alt="...">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>