<div class="container mt-4">
        <div class="container-fluid mb-3" style="max-width: 100%;">
            <div class=" row row-cols-1 row-cols-md-2 g-0">
            <div class="text-center">
                <img src="../../../assets/historia1.jpg" class="img-fluid" width="90%">
            </div>
            <div class="mt-4">
                <div class="card-body">
                    <h2 class="card-title text-center animate__animated animate__flipInX">Historia de Xicotepec</h2>
                <p class="card-text">
                    Los primeros habitantes establecidos dentro de la región fueron grupos otomies, que se asentaron aproximadamente en el 300 a. C. Durante el siglo v fue habitado por pobladores totonacas provenientes de El tajín.
                        <br>
                        En el año 1120 la región fue conquistada por Huemac, gobernante del pueblo tolteca, el cual lo convierte en un señorío. Cinco meses después este fue apropiado por tribus chichimecas que permanecieron durante más de cuarenta años en él, hasta que fue reconquistado por Metlaltoyuca en 1162. Aproximadamente en 1325 la tribu acolhua, dirigida por Tlachotla, invadió el territorio y lo integró a su señorío.
                        <br>
                        En 1432 el territorio era tributario de Texcoco, al cual pagaba con plumas de ave. Nezahualcóyotl le designó el señorío de Xicotepec a Quetzalpatzin.
                </div>
            </div>
            </div>
        </div>
    <div class="container-fluid mt-4">
        <p>
            El territorio fue ocupado por españoles en 1533, dos años después fue fundada la cabecera del municipio por frailes agustinos, que le dieron el nombre de San José de Xicotepec y como patrono le asignaron a San Juan Bautista. Al año siguiente fue constituido como ayuntamiento virreinal, abarcando los actuales municipios de Tamiahua, Jalpan y Pahuatlán.
            <br>
            En la actualidad Xicotepec es un pueblo turístico distinguido por su zona cafetalera. Un sitio del lugar es la Xochipila, un centro ceremonial dedicado a Teecchachalco, estaba dedicado al dios mexica Xochipilli, dios solar de la vegetación, del agua, de la primavera, de la juventud y de la música.
            <br>
            Uno de los legados individuales de la tradición histórica y artística heredado de los medios cultos de la antigua sociedad indígena de Xicotepec es el códice, manuscrito pictográfico elaborado por indígenas entre los años 1564 y 1572, para conservar el acervo histórico propio y la memoria de las tradiciones, documento que hecha bajo interpretaciones erróneas con respecto de la verdad o falsedad de ciertas concepciones históricas.
        </p>
    </div>
    <div class="container-fluid mt-4 mb-4">

        <h2 class="text-center">¿Sabías que?</h2>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/historia2.jpg" class="img-fluid m-4 mb-1" alt="...">
                    <div class="card-body">
                        <p class="card-text">Xicotepec posee el honor de haber sido capital de la República Mexicana durante 3 días en 1920, mientras le practicaban la autopsia a Venustiano Carranza.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/historia3.jpg" class="img-fluid m-4 mb-1" alt="...">
                    <div class="card-body">
                        <p class="card-text">Xicotepec es un importante productor de café, por lo que la bisutería de collares y pulseras, a base de estas semillas es uno de los productos artesanales más relevantes de la región.</p>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/historia4.jpg" class="img-fluid m-4 mb-1" alt="...">
                    <div class="card-body">
                        <p class="card-text">Su nombre viene del náhuatl “xicotepetl” que significa “cerro de jicotes” o “cerro de abejorros”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>