<div class="container mt-4">
    <h2 class="card-title text-center animate__animated animate__flipInX">Administrar recursos</h2>
    <div class="col-12 text-center" id="boton">
        <button type="button" class="btn btn-outline-success mt-4" routerLink="/agregar-recurso">Agregar Recurso</button>
    </div>

    <table class="overflow-x-scroll table table-hover table-striped mt-4 table-success">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Imagen</th>
                <th scope="col">Calificación</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recurso of recursos">
                <th scope="row">{{recurso.id}}</th>
                <td>{{recurso.nombreRecurso}}</td>
                <td class="text-wrap">{{recurso.descripcion}}</td>
                <td>{{recurso.imagen}}</td>
                <td>{{recurso.calificacion}}</td>
                <td>{{recurso.categoria}}</td>
                <td class="iconos">
                    <a (click)="borrarRecurso(recurso.id)"><fa-icon style="color:red" [icon]="eliminar" ></fa-icon></a>
                    <a [routerLink]="'/editar-recurso/'+recurso.id"><fa-icon style="color:blue" [icon]="editar"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>